* {
    box-sizing: border-box;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    color: lightcyan;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#container {
    width: 800px;
    max-width: 80%;
    border-radius: 10px;
    padding: 20px; 
    color: lightcyan;  
}

.hidden, 
.hide {
    display: none;
}

.options > button {
    padding: 2%;
    margin: 20px 10px;
    width: 20%;
    border-radius: 10px;
    font-size: 20px;
    background-color: darkgreen;
    color: lightcyan;

}

.start {
    border-radius: 5px;
    background-color: darkgreen;
}

.flex {
    display: absolute;
    align-items: top-right;
    justify-content: space-between;

}

ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
}

li {
padding: 5px;
list-style: decimal inside none;
text-align: left;
}

.wrapper {
margin: 100px auto 0 auto;
max-width: 600px;
}

button {
    border-radius: 10px;
    font-size: 24px;
    background-color: darkgreen;
    margin: 20px 10px;
    border-radius: 10px;
    padding: 15px;
    color: lightcyan;
}


img { 
max-width: 400px;
max-height: 300px;
border-radius: 10px;
}