* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: azure;
    line-height: 1.5;
}

#container {
    width: 600px;
    max-width: 80%;
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
} 

.hide, .hidden {
    display: none;
}

.options > button {
    padding: 10px;
    margin: 20px 10px;
    width: 20%;
    border-radius: 5px;
    color: azure;
    background-color: midnightblue;
}

.start {
    cursor: pointer;
    border-radius: 5px;
    color: azure;
    background-color: midnightblue;
}

.options:hover {
    border-color: black;
}

.flex {
    display:flex;
    justify-content: space-between;

}

ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
}

li {
    padding: 5px;
    list-style-type: decimal inside none;
    text-align: left;
}

.wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
}